html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.webgl-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.webgl-content * {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Cap at 1280x720, scale down on smaller screens */
#unityContainer {
  width: min(100vw, 1280px);
  height: min(56.25vw, 720px);
}

@media only screen and (max-width: 1280px) {
  #unityContainer {
    width: 100vw;
    height: 56.25vw;
  }
}

@media only screen and (max-height: 720px) {
  #unityContainer {
    height: 100vh;
    width: 177.78vh; /* 16:9 inverse */
  }
}
